In [193]:
#from ast import literal_eval
import pandas as pd

In [194]:
import json

In [195]:
import numpy as np

In [196]:
df = pd.DataFrame

In [197]:
players = ".\\purchase_data.json"

In [198]:
players_pd = pd.read_json(players)
players_df = pd.DataFrame(players_pd)
players_df
players_pd.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [199]:
# total no of players
total_players = players_df['SN'].nunique()
total_players

573

In [200]:
#No of Unique Items
unique_items = players_df['Item ID'].nunique()
unique_items

183

In [201]:
#Avg Purchase Price
avg_purchase_price = players_df['Price'].mean()
avg_purchase_price

2.931192307692303

In [202]:
#Total no of purchases
total_purchases = len (players_df)
total_purchases

780

In [203]:
#Total Revenue
total_revenue = players_pd['Price'].sum()
total_revenue

2286.3299999999963

In [204]:
total_gender = players_df["Gender"].count()
male = players_df["Gender"].value_counts()['Male']
female = players_df["Gender"].value_counts()['Female']
non_gender_specific = total_gender - male - female
print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n non_specfic: {non_gender_specific}")
#Percentage of male & Female
male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
non_gender_specific_percent = (non_gender_specific/total_gender) * 100
print(f" % Male: {male_percent}\n % Female: {female_percent}\n % non_specifc: {non_gender_specific}")

 Total: 780
 Male: 633
 Female: 136
 non_specfic: 11
 % Male: 81.15384615384616
 % Female: 17.435897435897434
 % non_specifc: 11

In [261]:
  #Purchasing Analysis (Gender)
players_df.groupby('Gender')['Price'].agg({'Purchase Count':'count','Average Purchase Price':'mean','Total Purchase Price':'sum'})

C:\Users\chinc\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

,Purchase Count,Average Purchase Price,Total Purchase Price
Gender,,,
Female,136,2.815515,382.91
Male,633,2.950521,1867.68
Other / Non-Disclosed,11,3.249091,35.74

In [213]:
# Create bins in which to place values based upon TED Talk views
bins = [0,10,15,20,25,30,35,40,100]

# Create labels for these bins
group_name = ["<10","10-14","15-19","20-24","25-29","30-34",
                "35-39","40+"]

In [214]:
pd.cut(players_df["Age"], bins, labels=group_name)

0      35-39
1      20-24
2      30-34
3      20-24
4      20-24
5      15-19
6      15-19
7      25-29
8      20-24
9      30-34
10     20-24
11     15-19
12     25-29
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     25-29
19     30-34
20     20-24
21     10-14
22     10-14
23     15-19
24     10-14
25     20-24
26     25-29
27     30-34
28     10-14
29     15-19
       ...
750    20-24
751    25-29
752    10-14
753    15-19
754    30-34
755    20-24
756    20-24
757    30-34
758    15-19
759    15-19
760    25-29
761    25-29
762    35-39
763    25-29
764    20-24
765    10-14
766    20-24
767    15-19
768    20-24
769    20-24
770    20-24
771    20-24
772    10-14
773    20-24
774    20-24
775    20-24
776    10-14
777    15-19
778    15-19
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [215]:
players_df["Age Group"] = pd.cut(players_df["Age"], bins, labels=group_name)
players_df

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,15-19
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,15-19
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,20-24
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20-24
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,15-19
12,30,Male,81,Dreamkiss,4.06,Iskossa88,25-29
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,20-24
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,35-39
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,20-24
16,22,Female,123,Twilight's Carver,1.14,Sundista85,20-24
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20-24
18,28,Male,91,Celeste,3.71,Iskista88,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,20-24
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,10-14
22,11,Female,11,Brimstone,2.52,Deural48,10-14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
25,21,Male,63,Stormfury Mace,1.27,Idai61,20-24
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,10-14
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,20-24
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,25-29
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,10-14
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,15-19
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,30-34
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,20-24
756,22,Male,6,Rusty Skull,1.20,Siasri67,20-24
757,35,Male,11,Brimstone,2.52,Seosri62,30-34
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,15-19
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,15-19
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,25-29
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,25-29
762,36,Male,52,Hatred,4.39,Lisosiast26,35-39
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,25-29
764,25,Male,70,Hope's End,3.89,Assassasda84,20-24
765,15,Male,13,Serenity,1.49,Aerithnucal56,10-14
766,22,Female,84,Arcane Gem,2.23,Nitherian58,20-24
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,15-19
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,20-24
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,20-24
770,22,Male,141,Persuasion,3.27,Aenasu69,20-24
771,24,Male,25,Hero Cane,1.03,Lassista97,20-24
772,15,Male,31,Trickster,2.07,Sidap51,10-14
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,20-24
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,20-24
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,20-24
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,10-14
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,15-19
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,15-19
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,20-24

In [219]:
#Age Demographics
players_df.groupby('Age Group')['Price'].agg({'Purchase Count':'count','Average Purchase Price':'mean','Total Purchase Price':'sum'})

C:\Users\chinc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

           Purchase Count  Average Purchase Price  Total Purchase Price
Age Group
<10                    32                3.019375                 96.62
10-14                  78                2.873718                224.15
15-19                 184                2.873587                528.74
20-24                 305                2.959377                902.61
25-29                  76                2.892368                219.82
30-34                  58                3.073448                178.26
35-39                  44                2.897500                127.49
40+                     3                2.880000                  8.64

In [262]:
#Top Spender
players1 = players_df.groupby('SN')['Price'].agg({'Purchase Count':'count','Average Purchase Price':'mean','Total Purchase Price':'sum'})
pla = players1.sort_values('Total Purchase Price' , ascending=False) 
pla.head()

C:\Users\chinc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

             Purchase Count  Average Purchase Price  Total Purchase Price
SN
Undirrala66               5                3.412000                 17.06
Saedue76                  4                3.390000                 13.56
Mindimnya67               4                3.185000                 12.74
Haellysu29                3                4.243333                 12.73
Eoda93                    3                3.860000                 11.58

In [311]:
popular_item = players_df.groupby('Item ID')['Price'].count()
popular_item

Item ID
0      1
1      4
2      1
3      1
4      1
5      3
6      3
7      6
8      6
9      2
10     6
11     7
12     5
13     9
14     5
15     6
16     4
17     3
18     7
19     2
20     4
21     3
22     6
23     4
24     2
25     4
26     4
27     4
28     1
29     3
      ..
154    7
155    3
156    1
157    4
158    7
159    5
160    5
161    5
162    3
163    3
164    1
165    3
166    3
167    2
168    1
169    4
170    5
171    5
172    7
173    5
174    5
175    9
176    4
177    4
178    2
179    7
180    5
181    3
182    5
183    5
Name: Price, Length: 183, dtype: int64

In [322]:
most_popular = players_df.groupby('Item ID')['Price'].agg({'Purchase Count':'count','Total Purchase Price':'sum'})
pla =most_popular.sort_values('Purchase Count' , ascending=False) 
pla.head()

C:\Users\chinc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

         Purchase Count  Total Purchase Price
Item ID
39                   11                 25.85
84                   11                 24.53
31                    9                 18.63
175                   9                 11.16
13                    9                 13.41

In [308]:
most_profitable = players_df.groupby('Item ID')['Price'].agg({'Purchase Count':'count','Total Purchase Price':'sum'})
pla =most_profitable.sort_values('Total Purchase Price' , ascending=False) 
pla.head()

C:\Users\chinc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

         Purchase Count  Total Purchase Price
Item ID
34                    9                 37.26
115                   7                 29.75
32                    6                 29.70
103                   6                 29.22
107                   8                 28.88